*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin:0px;
    padding: 0px;

}

.flexContainer{
    display: flex;
    flex-wrap:wrap;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    width:100%;
    text-align: center;
}

.flexItem{
    margin:0.3%;
    padding:5px;
    border:1px solid;
    border-radius: 5px;
}

th, td{
    border:1px solid;
}

th{
    padding:2px;
    width:100px;
}

#pgSelect{
    text-align: center;
    flex-grow: 1;
}

#EfieldParams{
    width: 48.5%;
}

#EField {
    width:50%;
    margin-left: 25%;
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    padding:5px;
}

#EField h2{
    padding:5px;
    padding-left: 5%;
    padding-right: 5%;
}

#XParamShell{
    width: 48.5%;
}

#XParams{
    display: inline;
    display: flex;
    flex-wrap:wrap;
}

.xparam{
    margin:5px;
}

.xparam p{
    display: inline;
    padding:5px;
}

.tableHead{
    background-color: lightgray;
    border: 2px solid;
}

#pCalc{
    width:100%;
}

#pols {
    width:50%;
    margin-left: 25%;
    background-color: grey;
    border-radius: 5px;
    padding:5px;
    text-align: center;
}

#pols h2{
    padding:5px;
    padding-left: 5%;
    padding-right: 5%;
    display: inline;
}

#polarPlot{
    width: 50%;
    margin-left:25%;
}

footer{
    text-align: center;
}

@media only screen and (max-width: 1330px) {
#XParamShell{
    width: 48%;
}
#EfieldParams{
    width: 48%;
}

}
@media only screen and (max-width: 1131px) {
#ORtensorcontainer{
    width: 100%;
}
}

@media only screen and (max-width: 1330px) {
#XParamShell{
    width: 47%;
}
#EfieldParams{
    width: 47%;
}
}

@media only screen and (max-width:860px) {
    #polarPlot{
        width: 90%;
        margin-left:5%;
    }
}

@media only screen and (max-width: 501px) {
#XParamShell{
    width: 46%;
}
#EfieldParams{
    width: 46%;
}
}
